/* @override 

	http://localhost:8000/static/css/style.css
	http://www.cheze.fr/static/css/style.css
*/

body {
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	color: #222;
}

#ombre {
	padding-left: 39px;
	padding-right: 39px;
	background-image: url(/static/images/ombre_content.png);
}

h1,h2,h3,h4,h5 {
	font-family: "Arial Black", Verdana, sans-serif;
}

h2{
	font-size: 36px;
	margin-top: 10px;
	margin-bottom: 10px;
}

h3{
	font-size: 18px;
	color: #5e5e5e;
	margin-bottom: 10px;
	margin-top: 10px;
}


#entete {
	background-color: black;
	background-image: url(/static/images/rayures.png);
	position: relative;
	text-align: left;
	height: 120px;
}

#entete_liserai_gris {
	border-top: 8px solid #999ca0;
	border-bottom: 8px solid #999ca0;
}

#entete_liserai_jaune {
	border-top: 2px solid #f6f71f;
	border-bottom: 2px solid #f6f71f;
}

#entete h1 {
	color: white;
	font: 52px Futura Md BT;
	position: relative;
	top: 10px;
	left: 20px;
}

#entete #logo {
	width: 330px;
	margin-top: 20px;
	margin-left: 20px;
	border:none;
}

ul.nav {
	position: absolute;
	bottom: 0;
	width: 100%;
	top: 90px;
	height: 27px;
}

ul.nav > li {
	float: left;
}

ul.nav > li > a {
	display: inline-block;
	color: white;
	text-decoration: none;
	font-family: Arial, Verdana, sans-serif;
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	font-weight: bold;
	margin-right: 0.9em;
	margin-left: 0.9em;
	padding: 7px 1em;
}

ul.nav > li > a:hover, 
ul.nav > li:hover > a, 
ul.subcats > li > a:hover {
	color: #f5e95d;
	background-color: black;
	background-color: rgba(0,0,0,0.75);
	box-shadow: 0px 0px 9px #ccc;
	-webkit-box-shadow: 0px 0px 9px #ccc;
	-moz-box-shadow: 0px 0px 9px #ccc;
}

ul.subcats li a {
	color: white;
	text-decoration: none;
}

ul.nav > li.active > a {
	background-color: white;
	background-color: rgba(255,255,255,0.75);
	color: #000;
}

.cat_list {
	display: none;
	left: 0;
	top: 30px;
	padding-right: 20px;
	width: 920px;
	position: absolute;
	border-top: 4px solid #c4c3c4;
	background-color: rgba(74,74,74,0.79);
	padding-bottom: 20px;
	padding-left: 20px;
}

ul.subcats.level2 {
	list-style-type: none;
	display: inline;
	float: left;
	max-width: 220px;
}

ul.subcats.level2 > li {
	margin-top: 20px;
	position: relative;
}

ul.subcats.level2 > li > a {
	font-size: 16px;
	display: inline-block;
	font-variant: small-caps;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	//border-bottom: 1px solid #eee;
	padding: 4px 9px 5px;
}

ul.subcats.level3 {
	border-top: 2px ridge #d5d5d5;
	margin-right: 25px;
	list-style-type: none;
	padding-left: 4px;
	color: white;
	font-size: 13px;
	list-style-position: outside;
	padding-top: 2px;
}

ul.subcats.level3 > li {
	margin: 0;
	border-bottom: 1px solid #5e5e5e;
	font: 11px "Lucida Grande", Lucida, Verdana, sans-serif;
}

ul.subcats.level3 > li > a {
	padding: 3px 7px 4px;
	display: block;
	margin: 0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#page {
	background-color: #fff;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: right top;
	position: relative;
	width: 960px;
}

#breadcrumbs {
	border-bottom: 1px solid #ccc;
	line-height: 20px;
	overflow: auto;
	font-size: 11px;
	font-weight: bold;
	padding-top: 7px;
	padding-bottom: 2px;
}

#breadcrumbs li {
	float: left;
	padding-right: 5px;
}
#breadcrumbs li.bc_cat a{
	padding-right: 5px;
	color: #00548d;
}

#breadcrumbs li.bc_cat a:visited{
	color: #85a8cf;
}

#breadcrumbs li.bc_cat:after { content: ' » '; }


/* @group accueil */

#index {
	padding-bottom: 40px;
}

#index h2 {
	font-weight: bolder;
	font-size: 1.2em;
	margin: 10px 0;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

#index div.grid_4 > p {
	margin: 10px 0 20px 0;
	text-align: justify;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

#index #map {
	margin-top: 15px;
}

#index .box-1-left {
	background: url(../images/box-1-left.jpg);
	width: 77px;
	height: 93px;
	float: left;
}

#index .box-2-left {
	background: url(../images/box-2-left.jpg);
	width: 77px;
	height: 93px;
	float: left;
}

#index .box-middle {
	background-color: #f9ea49;
	width: 180px;
	height: 93px;
	float: left;
}

#index .box-3-middle {
	background-color: #f9ea49;
	width: 180px;
	height: 48px;
	float: left;
	padding: 0 10px;
}

#index .box-middle h3, #index .box-3-middle h3 {
	font-weight: bolder;
	font-size: 1.2em;
	margin: 5px 0;
	color: #000;
}

#index .box-1-right, #index .box-2-right {
	background: url(../images/box-right.jpg);
	width: 43px;
	height: 93px;
	float: left;
}

#index .box-3-right {
	background: url(../images/box-3-right.png);
	width: 22px;
	height: 48px;
	float: left;
}

#index .box-3 {
	position: relative;
	margin-top: -48px;
	z-index: 10;
}

/* @end */

/* @group footer */

#footer {
	display: inline-block;
	background-color: #e3e4e4;
	background-image: url(/static/images/rayures.png);
	background-repeat: repeat;
	color: #a6a7ab;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 12px;
	position: relative;
}

#footer a {
	font-weight: normal;
	font-style: normal;
}

#footer a:hover, #footer a:focus {
	text-decoration: none;
	color: #bc0c26;
}

#footer a, #footer a:visited {
	color: #a6a7ab;
	text-decoration: none;
}

#footer .picture, #footer .coord {
	float: left;
	padding: 0 10px;
}

#footer .coord {
	border-left: 2px solid #e9db47;
}

#footer address strong {
	color: #fff;
	font-weight: bolder;
	font-size: 2em;
	line-height: 1.2em;
}

#w3c {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

/* @end */

/* @group Liste Produits */

.all_cats ul {
	margin-left: 20px;
}

#product_category {
	display: inline-block;
	position: relative;
}

#product_category li {
	display: block;
	margin-bottom: 17px;
	position: relative;
	margin-left: 6px;
	margin-right: 6px;
}

.product_listing:hover {
	
}

/*
Thanks
http://www.jakpsatweb.cz/css/css-vertical-center-solution.html
*/

.product_listing {
	border: 1px solid #a9a9a9;
	position: relative;
	overflow: hidden;
	display: table;
	height: 107px;
	width: 100%;
}

.product_wrapper {
	position: relative;
	padding: 10px;
	vertical-align: middle;
	display: table-cell;
	#position: absolute;
	#top: 50%;
}

#product_category img {
	position: relative;
	width: 85px;
}


.product_listing.bl-hover {
	box-shadow: 2px 2px 5px #555;
	-webkit-box-shadow: 2px 2px 5px #555;
	-moz-box-shadow: 2px 2px 5px #555;
	background-color: white;
}

.minidesc {
	position: absolute;
	left: 110px;
	width: 180px;
	#top: -50%;
	font: 12px/16px "Lucida Grande", Lucida, Verdana, sans-serif;
}

.minidesc > a{
	text-decoration: none;
	font-weight: bold;
}

.listed_in {
	color: #a9a9a9;
	font-style: italic;
	font-weight: bold;
}

/* @end */

/* @group Catégorie */

.product_category_header {
	display: inline-block;
}

.product_category_description {
	display: block;
	margin-bottom: 20px;
	font-style: italic;
	color: #515151;
}

div.sous-cat {
	position: relative;
}

div.sous-cat.bl-hover h4 {
	color: #bc0c26;
	background-color: rgba(234,234,234,0.7);
}

div.sous-cat h4 {
	position: absolute;
	background-color: #bc0c26;
	color: #fffeff;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 26px;
	width: 210px;
	padding: 15px 5px;
	z-index: 1000;
}


/* @end */

/* @group Produit */

#fiche_produit{
	display: inline-block;
	margin-top: 20px;
}

table.attributes {
	border-collapse: collapse;
	font-size: 14px;
	float: right;
}

.attributes tr {
	border-bottom: 1px solid #5e5e5e;
}

.attributes th,
.attributes td {
	padding: 10px;
}

.attributes th {
	text-align: left;
	padding-right: 30px;
	font-weight: bold;
	padding-left: 10px;
}

.attributes td {
	padding-right: 10px;
}

.attributes tr:last-child {
	border-bottom-style: none;
}

/* @end */

/* @group filterpatch */

.selector {
	width: 900px;
}

.selector-available, .selector-chosen {
	width: 420px;
	border: 1px solid #ccc;
}

.selector ul.selector-chooser {
	margin: 8em 10px 0;
}

.selector select {
	margin-bottom: 5px;
	margin-top: 0;
	width: 420px;
}

a.selector-chooseall, a.selector-clearall {
	width: 12em;
}

/* @end */