{% extends "shop/base.html" %}
{% comment %}
-------------------------------------------------------------------
This is the base product detail page.
To modify the templates of specific types of products, such as
ProductVariations or CustomProducts, look for product/detail_xxx.html
-------------------------------------------------------------------
{% endcomment %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_price %}
{% load satchmo_currency satchmo_category %}
{% load satchmo_util satchmo_discounts %}
{% load app_plugins %}
{% load rm_newlines %}

{% block extra-head %}
{% if product.meta %}
    <meta name="description" content="{{product.meta}}">
{% endif %}
{% endblock %}

{% block title %}{{ product.translated_name  }}{% endblock %}

{% block content %}
<div class="grid_12 blanc">

    {% block navbar %}
        <ul id="breadcrumbs">
        <li class="first bc_cat"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
        {% for name, url in product.category.all.0.get_url_name %}
            <li class="bc_cat"><a href="{{ url }}">{{ name }}</a></li>
        {% endfor %}
        <li>{{ product.translated_name }}</li>
        </ul>
    {% endblock %}

    <h3>{{ product.translated_name }}</h3>

</div>

<div id="fiche_produit" class="container_12">

    <div class="grid_5 blanc">    
        {% for pic in product.productimage_set.all %}
            {% thumbnail pic.picture 380x380 as image %}
            <img src="{{ image }}" width="{{ image.width }}" height="{{ image.height }}" />
        {% endfor %}
        
    </div>

    <div class="grid_7 blanc">
        <p>{{ product.description|safe }}</p>

        <br/>
        <table class="attributes" cellspacing="0" cellpadding="0" border="1">

        {% with product.translated_attributes as atts %}
            {% if atts %}
                {% for att in product.translated_attributes %}

                    {% if att.description == 'product_url' %}
                    <tr><th><a href="{{ att.value }}" target="_blank">Fiche complète</a></th><td></td></tr>
                    {% else %}
                    <tr><th>{{ att.description }}</th><td>{{ att.value }}</td></tr>
                    {% endif %}

                {% endfor %}
            {% endif %}
        {% endwith %}

        {% if product.unit_price > 0 %}
            <tr><th>Prix</th><td>{{ product|sale_price|currency }}</td></tr>
        {% endif %}

        {% if product.fournisseur_set.all %}
            {% for m in product.fournisseur_set.all %}
            <tr><th>Fabricant</th><td>{{ m.name }}</td></tr>
            {% endfor %}
        {% endif %}
        
        </table>
    </div>
</div>

<div class="grid_12 blanc">
<br/>

{% if product.related_items %}


{% for related in product.related_items.all %} 
    {% if forloop.first %} <ul>  {% endif %}
        <li class="grid_4"><div class="product_listing">
            
            <div class="product_wrapper">
            
            {% thumbnail related.main_image.picture 85x85 as image %}
            <a href="{{ related.get_absolute_url }}">
            <img src="{{ image }}" alt="{{ related.translated_name }}" /></a>
            <span class="minidesc">
            
                <a href="{{ related.get_absolute_url }}">{{ related.translated_name }}</a>
                <br/>
                {% if related.category %}<span class="listed_in">
                    {% for cat in related.category.all %}
                    {{ cat.name }}{% if not forloop.last %} - {% endif %}
                    {% endfor %}
                    </span><br/>
                {% endif %}
                {% for attr in related.productattribute_set.all %}
                {% if attr.name == 'matiere' or attr.name == 'dimensions' %}
                {{ attr.value }}<br/>
                {% endif %}
                {% endfor %}
        </span>
        </div>
        </div></li>
    {% if forloop.last %} </ul> {% endif %}
{% endfor %}





{% endif %}
<br/>
</div>
{% endblock %}


{% block rdfa %}

<div xmlns="http://www.w3.org/1999/xhtml"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema#"
  xmlns:gr="http://purl.org/goodrelations/v1#"
  xmlns:foaf="http://xmlns.com/foaf/0.1/">
 
  <div typeof="gr:Offering" about="#offering">
    <div rev="gr:offers" resource="http://www.cheze.fr/#company"></div>
    <div property="gr:name" content="{{ product.translated_name }}" xml:lang="fr"></div>
    <div property="gr:description" content="{{ product.description|striptags|rm_newlines }}" xml:lang="fr"></div>
    {#}<div property="gr:hasEAN_UCC-13" content="1234567890123" datatype="xsd:string"></div>{#}
    <div property="gr:validFrom" content="2012-05-12T16:29:26Z" datatype="xsd:dateTime"></div>
    <div property="gr:validThrough" content="2012-12-31T00:00:00Z" datatype="xsd:dateTime"></div>
    <div property="gr:eligibleRegions" content="FR" datatype="xsd:string"></div>
    <div rel="foaf:depiction" resource="http://www.cheze.fr{{ product.main_image.picture.url }}"></div>
    <div rel="gr:hasPriceSpecification">
      <div typeof="gr:UnitPriceSpecification">
        <div property="gr:hasCurrency" content="EUR" datatype="xsd:string"></div>
        <div property="gr:hasCurrencyValue" content="{{ product|sale_price }}" datatype="xsd:float"></div>
        <div property="gr:hasUnitOfMeasurement" content="C62" datatype="xsd:string"></div>
      </div>
    </div>
    <div rel="gr:hasBusinessFunction" resource="http://purl.org/goodrelations/v1#Sell"></div>
    <div rel="gr:acceptedPaymentMethods" resource="http://purl.org/goodrelations/v1#ByInvoice"></div>
    <div rel="gr:acceptedPaymentMethods" resource="http://purl.org/goodrelations/v1#Cash"></div>
    <div rel="gr:acceptedPaymentMethods" resource="http://purl.org/goodrelations/v1#COD"></div>
    <div rel="gr:acceptedPaymentMethods" resource="http://purl.org/goodrelations/v1#MasterCard"></div>
    <div rel="gr:acceptedPaymentMethods" resource="http://purl.org/goodrelations/v1#VISA"></div>
    <div rel="gr:availableDeliveryMethods" resource="http://purl.org/goodrelations/v1#DeliveryModeOwnFleet"></div>
    <div rel="gr:availableDeliveryMethods" resource="http://purl.org/goodrelations/v1#DeliveryModePickUp"></div>
    <div rel="gr:eligibleCustomerTypes" resource="http://purl.org/goodrelations/v1#Enduser"></div>
    <div rel="foaf:page" resource="http://www.cheze.fr{{ product.get_absolute_url }}"></div>
    <div rel="gr:includes">
      <div typeof="gr:SomeItems" about="#product">
        <div property="gr:category" content="{{ product.main_category.name }}" xml:lang="fr"></div>
        <div property="gr:name" content="{{ product.translated_name }}" xml:lang="fr"></div>
        <div property="gr:description" content="{{ product.description|striptags|rm_newlines }}" xml:lang="fr"></div>
        {#}<div property="gr:hasEAN_UCC-13" content="1234567890123" datatype="xsd:string"></div>{#}
        <div rel="foaf:depiction" resource="http://www.cheze.fr{{ product.main_image.picture.url }}"></div>
        <div rel="foaf:page" resource="http://www.cheze.fr{{ product.get_absolute_url }}"></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
