{% load static i18n active categories satchmo_category satchmo_google satchmo_util app_plugins normalize_decimal %}{% block doctype %}<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% endblock %}
<head>
    {% block stylesheet %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/960.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/font.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" />
    {% endblock %}
    <title>{% block title %}Base{% endblock %} - {{ shop_name }}</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.easyListSplitter.js"></script>

    {% block extra-head %}{% endblock %}

    {% plugin_point "page_head" %}

    {% block javascript %}
    {% endblock %}
</head>
<body>
<div id="ombre" class="container_12">
    
    <div id="entete_liserai_gris">
        <div id="entete_liserai_jaune">
            <div id="entete" class="container_12">
                <a href="/" title="accueil">
                    <img src="{{ STATIC_URL }}images/logo-cheze.png" alt="CHEZE SAS" id="logo" border="0" /></a>
{% comment %}
                {% categories deep=3 select_parents=1 ul_class=nav %}
{% endcomment %}

                <ul class="nav">
                    <li class="index{% active request "/" %}"><a href="/">Accueil</a></li>
                    
                    {% for c in categories %}
                    {% if not c.parents %}<li class="cat{% active request c.get_absolute_url %}">
                        <a href="{{c.get_absolute_url}}" class="cat_link" rel="list-{{c.slug}}">{{c.name}}</a>
                        {% if c.get_all_children %}<div class="cat_list" id="list-{{c.slug}}">
                            <ul class="subcats level2">
                            {% for sc in c.get_all_children %}
                            {% if sc.parent_id == c.id %}<li>
                            <a href="{{sc.get_absolute_url}}">
                            {% if sc.images.all.count > 0 %}<img src="{{media_url}}{{ sc.main_image.picture }}" 
                                width="{{ sc.main_image.picture.width }}" 
                                height="{{ sc.main_image.picture.height }}"/><br/>{% endif %}{{sc.name}}</a>
                                {% if sc.get_all_children %}<ul class="subcats level3">
                                    {% for ssc in sc.get_all_children %}{% if ssc.parent_id == sc.id %}
                                        <li><a href="{{ssc.get_absolute_url}}">{{ssc.name}}</a></li>
                                    {% endif %}{% endfor %}
                                    </ul>{% endif %}
                            </li>{% endif %}{% endfor %}
                            </ul>
                        </div>{% endif %}</li>
                    {% endif%}{% endfor %}
                    <li class="contact{% active request "/contact/" %}"><a href="/contact/">Contact</a></li>
                </ul>


            </div>
        </div>
    </div>

     <div class="container_12">
        <div id="page">
            
            {% block content %}
            <div class="grid_9 blanc">
                {% block navbar %}
                {% endblock %}
                <!--contenu-->
            </div>
            {% endblock %}
            
            {% block colonne %}
            {% endblock %}

        </div>
        <div class="clear"></div>

        <div id="footer">
            {% block footer %}
            <div class="grid_4">
                <div class="clearfix">
                    <div class="picture">
                        <img src="{{STATIC_URL}}images/magasin.jpg" width="102" heihgt="78" alt="Cheze SAS"/>
                    </div>
                    <div class="coord">
                        <address>
                            <strong>CHEZE SAS</strong><br/>
                            Za les Varenne<br />
                            Route St Bonnet<br/>
                            03450 Ebreuil<br/><br/>
                            <span class="tel">Tel : 04 70 90 72 11</span><br/>
                            <span class="fax">Fax : 04 70 90 75 32</span><br/>
                            <a class="email" href="/contact/">contact e-mail</a>
                        </address>
                    </div>
                </div>
            </div>
            
            <div class="grid_4">
                <div class="clearfix">
                    <div class="picture">
                        <img src="{{STATIC_URL}}images/magasin.jpg" width="102" heihgt="78" alt="Cheze SAS"/>
                    </div>
                    <div class="coord">
                        <address>
                            <strong>Brico Service</strong><br/>
                            Rue Paroueix<br />
                            63380 Pontaumur<br/><br/>
                            <span class="tel">Tel : 04 73 79 79 73</span><br/>
                        </address>
                    </div>
                </div>
            </div>

            <div class="grid_4">
                <div class="clearfix">
                    <div class="picture">
                        <img src="{{STATIC_URL}}images/magasin.jpg" width="102" heihgt="78" alt="Cheze SAS"/>
                    </div>
                    <div class="coord">
                        <address>
                            <strong>CHEZE</strong><br/>
                            167 Rue Jean Jaur&egrave;s<br/>
                            63700 Saint-&Eacute;loy-les-Mines<br/><br/>
                            <span class="tel">Tel : 04 73 79 79 73</span><br/>
                        </address>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            {% endblock %}
            <p id="w3c">
                <a href="http://validator.w3.org/check?uri=referer"><img
                  src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Transitional" height="31" width="88" /></a>
            </p>
        </div>

    </div>
</div>

{% block page-close %}
{% block google-tracker %}
{% if shop.options.GOOGLE.ANALYTICS.value %}
    {% show_tracker is_secure %}
{% endif %}
{% endblock %}
{% endblock %}

<script type="text/javascript">


var slideOpen = function(list){
    slide_height = list.height() + 140
    list.show();
    $("#entete").animate({height:slide_height},1000); 
}

var slideClose = function(list){
    $("#entete").animate({height:120},1000, function(){
        list.hide();
    });
}    

$(function(){

    $(".cat_list > ul").easyListSplitter({colNumber:5});

    $("a.cat_link").click(function(event){
        
        open_list = $(".cat_list:visible");
        target_list = $(".cat_list#"+$(this).attr('rel'));
        if(target_list.attr("id") == open_list.attr("id")){
            // clic sur le nom de la liste déjà ouverte
            slideClose(target_list);
        }else if(open_list.attr("id") == undefined){ 
            // clic et aucune liste encore ouverte
            slideOpen(target_list);
        }else if(target_list.attr("id") != open_list.attr("id")){
            //clic sur une autre liste que celle qui est ouverte
            open_list.hide();
            slideClose(open_list);
            slideOpen(target_list);
        }else{
            alert('what else ?')
        }
        event.preventDefault();
    });

});
</script>


</body></html>
